.my-card {
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.my-card-1 {
  background-image: url(../img/espresso.jpg);
}

.card-text {
  margin: 20px 0;
}

.fa-star {
  color: #fdcc0d;
}
